
terraform_infra/backend/.terraform
terraform_infra/backend/.terraform.lock.hcl
terraform_infra/backend/terraform.tfstate
terraform_infra/backend/terraform.tfstate.backup


terraform_infra/eks/.terraform
terraform_infra/eks/.terraform.lock.hcl


terraform_infra/network/.terraform
terraform_infra/network/.terraform.lock.hcl

terraform_infra/security/.terraform
terraform_infra/security/.terraform.lock.hcl